<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center padding-vertical">
      <ion-thumbnail>
        <img src="../../assets/img/logo.png">
      </ion-thumbnail>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row class="">
      <ion-col class="ion-justify-content-end">
        <ion-card class="">
          <div class="">
            <ion-card-header>
              <ion-card-title>Añadir a la Lista</ion-card-title>
            </ion-card-header>
          </div>
        
          <ion-card-content>
            <ion-item>
              <ion-label position="stacked">Nombre del Producto</ion-label>
              <ion-input class="ion-padding-top" [(ngModel)]="list.description"></ion-input>
            </ion-item>
            <ion-button expand="block" (click)="saveList()">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
