<ion-content class="start">

  <ion-grid>
    <ion-row class="ion-justify-content-center padding-vertical">
      <ion-thumbnail>
        <img src="../../assets/img/logo-color.png">
      </ion-thumbnail>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>

        <div class="form">
          <div class="ion-text-center">
            <ion-label>Inicie sesión para continuar</ion-label>
          </div>
          <div class="ion-margin-vertical">
            <ion-input placeholder="Correo Electrónico" class="no-borderline" [(ngModel)]="user.email">
              <ion-icon name="person-outline"></ion-icon>
            </ion-input>
            <ion-input placeholder="Contraseña" type="password" [(ngModel)]="user.password">
              <ion-icon name="key-outline"></ion-icon>
            </ion-input>
          </div>
        
          <ion-button class="ion-text-capitalize" expand="block" (click)="onLogin()">Iniciar</ion-button>
          <ion-button class="ion-text-capitalize" expand="block" [routerLink]="['/register']">Crear cuenta</ion-button>
        
          <div class="ion-text-center padding-vertical">
              <ion-label>¿Olvido su contraseña?</ion-label>
          </div>
        </div>       

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>