<ion-content>

  <ion-grid>
    <ion-row class="ion-justify-content-center padding-vertical">
      <ion-thumbnail>
        <img src="../../assets/img/logo.png">
      </ion-thumbnail>
    </ion-row>
  </ion-grid>

  <ion-toolbar class="ion-padding-horizontal">
    <ion-searchbar placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>

  <div class="title">
    <ion-label class="to-do ion-text-uppercase">
      Mi Lista
    </ion-label>
  </div>
  <!--<ion-card class="ion-margin-vertical">
    <div class="to-do">
      <ion-card-header>
        <ion-card-title class="ion-text-uppercase">Mi Lista</ion-card-title>
      </ion-card-header>
    </div>
  
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label>hola</ion-label>
          <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>hola</ion-label>
          <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>  
    <ion-card-content>
        <ion-item>
          <ion-label>hola</ion-label>
          <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
    </ion-card-content>
  </ion-card>-->
  
  <div class="ion-margin-top" style="overflow: hidden;">
  <ion-card>  
    <ion-card-content>
        <ion-item>
          <ion-label>hola</ion-label>
          <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>  
    <ion-card-content>
        <ion-item>
          <ion-label>hola</ion-label>
          <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
    </ion-card-content>
  </ion-card>
</div>

</ion-content>