<ion-content>
  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;" class="ion-justify-content-center ion-align-items-center">
      <ion-thumbnail>
        <img src="../../../../resources/icon.png">
      </ion-thumbnail>
    </ion-row>
  </ion-grid>
<!--  <ion-grid>
    <ion-row class="ion-justify-content-center ion-padding-vertical">
      <ion-thumbnail>
        <img src="../../assets/img/logo.png">
      </ion-thumbnail>
    </ion-row>
  </ion-grid>

  <ion-toolbar class="ion-padding-horizontal">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>

  <ion-list></ion-list>-->
  

</ion-content>
