/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-searchbar{
    .searchbar-input-container{
        .searchbar-input{
            border-radius: 30px !important;
        }
    }
}

ion-thumbnail {
    height: 65%;
    width: 65%;
}

ion-content, ion-header, ion-toolbar {
    --background: #f4cd6f;
}

.padding-vertical {
    padding: 70px 0 30px 0;
}

ion-content.start {
    --background: #fff;
}

.form {
    margin: 10px;
    padding: 13px 16px;
}

.form ion-button {
    height: 3.5em;
    margin-bottom: 15px;
    --ion-color-primary: #f4cd6f;
}